
body{
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    width: 95%;
    margin: auto;
}
body>section>header{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(header.jpg);
}

body>section>header>h1{
    fon-weight: bold;
    font-size: 40px;
    color: #ffffff;
    margin: 10px;
}
article{
    margin: 5px;
    padding: 5px;
    background-color: #eeeeee;
}
article>header{
    font-size: large;
    -ms-underline-position: below;
    color: #333333;
}
body>section>nav>a{
    color: lawngreen;
    font-weight: bold;
}
body>section>nav{
    background-color: darkgrey;
    padding: 5px;